{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static 'graph.css' %}">
  <head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content "IE-edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Graph</title>
  </head>
<body>
  {% block content %}
  {% if user.is_authenticated %}
  <header>
    <div class="nav-bar">
      <div class="top-bar">
          <a href="{% url 'dashboard' %}"><img src="/static/logo.png" alt="Logo" height="80" width="80" id="logo"></a>
          <a href="{% url 'dashboard' %}" class="grid-item">Home</a>
          <a href="{% url 'prediction' %}" class="grid-item">Prediction</a>
          <a href="{% url 'graph' %}" class="grid-item">Graphs</a>
          <a href="{% url 'login' %}" class="grid-item" id="signout">Sign Out</a>
      </div>
      <div class="dropdown">
        <button class="dropdown-button">Menu</button>
        <div class="dropdown-content">
          <a href="{% url 'dashboard' %}" class="grid-item2" id="first">Home</a>
          <a href="{% url 'prediction' %}" class="grid-item2">Prediction</a>
          <a href="{% url 'graph' %}" class="grid-item2">Graphs</a>
          <a href="{% url 'login' %}" class="grid-item2" id="signout">Sign Out</a>
        </div>
      </div>
    </div>
  </header>
    <div class="content">
      <main>
        <div class="title">
            <h1>Graph of Usage</h1>
        </div>
        <div class="graph">
            <!--Image by Maxim Hopman on unsplash link provided https://unsplash.com/photos/fiXLQXAhCfk -->
            <!-- <img src="/static/graph.jpg" alt="graph" height="500" width="750"> -->
        </div> 
        <img src="{% static 'data.png' %}" alt="Chart">
        <!-- <h2 id="date">Date</h2>

        <div class="txtbtn">
            <Label for="fromDate">From Date:</Label>
            <input type="text" name="fromDate" id="fromDate">

            <Label for="toDate">To Date:</Label>
            <input type="text" name="toDate" id="toDate">

            <button id="goButton">Go</button>
        </div> -->
      </main>
      <footer>
        <p><strong>This Website was developed by Arnas Magilevičius, Eoin Delaney and Vinicius Parzanini</strong></p>
      </footer>
    </div>
  </body>
  {% else %}
  <div class="notlogged">
    <p>Oh no! Seems that You are not Logged in!</p>
    <a href="{% url 'login' %}">Log In</a>
  </div>
  {% endif %}
  {% endblock %}
  </html>
  