body{
    background-image: url("/static/School.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Navbar */
.nav-bar{
    background-color: #DEF7E1;
    border: 1px solid black;
    font-size: 1.4em;
    margin: 0px auto;
    max-width: 100%;
    position:relative;
    height: 3.8em;
    display: -ms-inline-grid;
    grid-template-columns: 50px 1fr;
}
 
.top-bar{
    margin-top: 1.5%;
}

.grid-item{
    position: relative;
    margin-right: 17%;
}

#signout{
    float: right;
    margin-right: 3%;
}

#logo{
    float: left;
    margin-left: 2%;
    margin-right: 22%;
    margin-top: -1.3%;
}

.top-bar, a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Content */
.content{
    background-color: #DEF7E1;
    text-align: center;
    margin: 7% 13%;
    width: 50%;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    padding: 12% 12%;
    font-size: 1.5em;
    opacity: 92%;
}

.welcome{
    margin: -20% 0% 10% 0%;
}
.consu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Responsive Dashboard (1850px to 1450px)*/
@media only screen and (max-width: 1850px) and (min-width: 1450px){
    .grid-item{
        margin-right: 14%;
    }
    .top-bar{
        margin-top: 2%;
    }
}

/* Responsive Dashboard (1450px to 1000px) */
@media only screen and (max-width: 1450px) and (min-width: 900px){
    .grid-item{
        margin-right: 9%;
    }
    .top-bar{
        margin-top: 2.5%;
    }
    #logo{
        margin-top: -2%;
    }
}

/* Responsive Dashboard mobile max 900px */
@media only screen and (max-width: 900px){
    .nav-bar{
        font-size: large;
    }
    .grid-item{
        margin-right: 4%;
    }
    .top-bar{
        margin-top: 4%;
    }

    #logo{
        margin-top: -4%;
        margin-right: 15%;
    }
    /* content */
    .content{
        margin-top: 30%;
    }
    .consu{
        display: block;
    }
}

@media only screen and (max-width: 550px){
    .nav-bar{
        font-size: large;
    }
    .grid-item{
        margin-right: 2%;
    }
    .top-bar{
        margin-top: 2%;
    }

    #logo{
        margin-top: -4%;
        margin-right: 5%;
    }
    /* content */
    .content{
        margin-top: 30%;
    }
    .consu{
        display: block;
    }
}