<!-- Name: Vinicius Parzanini, Eoin Delayne, Arnas Magilevičius -->
<!-- Date: 02/11/2022 -->
<!-- Function: Create an account -->

<!-- Background page inside main -->
<body>
    <img />
    <!-- Same div than login cause it has the same CSS -->
    <div class="content">
      <div class="login">
        <div class="text-login">
          <h2>Create an Account</h2>
          <hr />
          <div class="inputs">
            First Name:<input type="text" /><br /><br />
            Last Name:<input type="text" /><br /><br />
            Email:<input type="text" /><br /><br />
            Enter Password:<input type="text" /><br /><br />
            Re-Enter Password:<input type="text" /><br /><br />
          </div>
          <button>Create Account</button><br /><br />
        </div>
      </div>
    </div>
    <footer>
      <img />
    </footer>
  </body>
  