body{
    background-image: url("/assets/Images/nature.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.content{
    text-align: center;
    margin: 15% auto;
    width: 30%;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}
.login{
    padding: 30px;
    background-color: #000000;
}
.text-login, h2{
    margin: 1%;
}
h2{
    font-size: 1.7em;
}
.text-login, .login{
    opacity: 95%;
}
.text-login{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 100%;
    font-size: 1.2em;
}
hr{
    width: 45%;
    margin-top: -10px;
}
.inputs{
    padding-top: 7%;
    padding-left: 1%;
    float: left;
    text-align: right;
}
input{
    font-size: 1em;
    background: transparent;
    border: none;
    color: #FFFFFF;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.06);
    white-space: nowrap;
    width: 280px;
    height: 20px;
    transition: 0.2s;
}
button{
    margin-top: 3%;
    width: 35%;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    background-color: #B2C3FC;
    font-size: 1.1em;
    transition: 0.3s;
    opacity: 0.6;
}
button:hover{
    opacity: 1;
}