<!-- Name: Vinicius Parzanini, Eoin Delayne, Arnas Magilevičius -->
<!-- Date: 02/11/2022 -->
<!-- Function: Login Page -->
<body>
  <!-- Background page inside main -->
  <img />
  <!-- Login header -->
  <div class="content">
    <div class="login">
      <div class="text-login">
        <h2>Login</h2>
        <hr />
        <div class="inputs">
          Email:<input type="text" /><br /><br />
          Password:<input type="text" /><br /><br />
        </div>
        <div class="login-button">
          <button>Login</button><br /><br />
        </div>
        <a id="create-account" href="#">Create an Account</a>
      </div>
    </div>
  </div>
  <footer>
    <img />
  </footer>
</body>
