<!-- Name: Vinicius Parzanini, Eoin Delayne, Arnas Magilevičius -->
<!-- Date: 02/11/2022 -->
<!-- Function: Navegation bar component -->

<div class="top-bar">
    <a routerLink="#" class="grid-item"><img src="/assets/Images/logo.png" alt="Logo" height="80" width="80" id="logo"></a>
    <a routerLink="#" class="grid-item">Home</a>
    <a routerLink="#" class="grid-item">Prediction</a>
    <a routerLink="#" class="grid-item">Graphs</a>
    <a routerLink="#" class="grid-item" id="signout">Sign Out</a>
</div>