<!-- Name: Vinicius Parzanini, Eoin Delayne, Arnas Magilevičius -->
<!-- Date: 02/11/2022 -->
<!-- Function: Dashboard Page -->

<body>
    <header>
      <img />
      <div class="nav-bar">
        <app-nav-bar></app-nav-bar>
      </div>
    </header>
    <div class="content">
      <div class="welcome">
        <h1>Welcome! (Person)</h1>
      </div>
        <h2>Consumption ( Real Time ), Date/Hour</h2>
        <div class="consu">
        <div class="pic1">
          <h3>Electricity</h3>
          <img src="/assets/Images/elec.png" alt="Electricity" height="150" width="150"><br><br>
          Measurament goes here
        </div>
        <div class="pic2">
          <h3>Water</h3>
          <img src="/assets/Images/water.png" alt="Water" height="150" width="150"><br><br>
          Measurament goes here
        </div>
        <div class="pic3">
          <h3>Temperature</h3>
          <img src="/assets/Images/temp.png" alt="Temperature" height="150" width="150"><br><br>
          Measurament goes here
        </div>
      </div>
    </div>
    <footer>
      <img />
    </footer>
  </body>
  