<!-- Name: Vinicius Parzanini, Eoin Delaney, Arnas Magilevičius -->
<!-- Date: 13/12/2022 -->
<!-- Function: Graph Page -->

<body>
    <header>
      <img />
      <div class="nav-bar">
        <app-nav-bar></app-nav-bar>
      </div>
    </header>
    <div class="content">
        <div class="title">
            <h1>Graph of Usage (All)</h1>
        </div>

        <div class="graph">
            <!--Image by Maxim Hopman on unsplash link provided https://unsplash.com/photos/fiXLQXAhCfk -->
            <img src="/assets/Images/graph.jpg" alt="graph" height="500" width="750">
        </div>

        <h2 id="date">Date</h2>

        <div class="txtbtn">
            <Label for="fromDate">From Date:</Label>
            <input type="text" name="fromDate" id="fromDate">

            <Label for="toDate">To Date:</Label>
            <input type="text" name="toDate" id="toDate">

            <button id="goButton">Go</button>
        </div>


    </div>
    <footer>
      <img />
    </footer>
  </body>
  
